# files and directories to ignore so that they do not get published on GitHub and no history is saved


# Secret keys for APIs and such that you do not want to share
keys.txt

# By default don't upload data
data

# If using scripts
scripts/__pycache__

# If use Jupyter Notebooks:
notebooks/.ipynb_checkpoints
notebooks/__pycache__

# Some other Python related things
.DS_Store
*.pyc
*.egg-info
